 .modal{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	
	font-size: 13px;
	font-family: 'Agency FB', 'sans-serif';
	line-height: normal;
	visibility: hidden;
}
#btnc-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
} 
#btnc-modal{
	display: none;
}
.lblc-modal{
	border: 0px solid #2e518b; /*anchura, estilo y color borde*/
	padding: 10px; /*espacio alrededor texto*/
	background-color: #0b6bca; /*color botón*/
	text-decoration: none; /*decoración texto, para quitar la linea de abajo*/
	text-transform: uppercase; /*texto en mayusculas*/
	text-align: center;
	font-family: 'Agency FB', 'sans-serif';  /*tipografía texto*/
	color: #ffffff; /*color texto*/
	border-radius: 0px; /*bordes redondos*/
	cursor: pointer;
	margin-left: 35%;
}

@media only screen and (min-width:320px) and (max-width:480px){
	.contenedor{
		width: 100%;
	}
}
.modal1 {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
	font-family: 'Agency FB', 'sans-serif'
	
}

.modal .content {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1100px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
	
    padding: 2rem;
    font-size: 20px;
}



.modal  input[type="text"]
{
  background: #ffffff;
  border-color: #747474;
  color: #000000; /*color de letra */
  font-family: 'Agency FB', 'sans-serif'

}

.modal1 input[type="submit"] {
	background: #0b6bca;
	border-color: transparent;
	font-family: 'Agency FB', 'sans-serif';
	color: #ffffff; /* color de letra*/
	cursor: pointer;
	width: 50%;
	margin-top: 35px;
	margin-left: 25%;
  }

  .modal1 input {
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding: 12px;
	outline: 0;
  }

  
.modal #columnaE{
		display: table-cell;
		color: #000;
		width: 20%;
		height: 100%;
		font-weight: bold;
		border: solid #ffffff00 1px;
	}

.modal	#columnaE {
		background-color: #ece4e400;		
	}
.t2{
	margin-left: 20px;
	width: 100%;
}

#columnaE .atributos {
	overflow-y:scroll;
	height:400px;
	width:100%;

}

#tbl-lista th,tr{
	padding: 10px;
	width: auto;
	border: solid #838b9e 4px;
}








