.contenedor {
	width: 100%;
	max-width:100%;
	margin:auto;
}

.contenedor p {
	margin-bottom:40px;
}

header nav {
	background:#0b6bca;
	margin-bottom:10px;
}

header nav ul {
	list-style: none;
	overflow: hidden;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	display: block;
	padding:20px;
	color:#fff;
	text-decoration: none;
}

header nav ul li a:hover {
	background:#fff;
    color: black;
}

#actual{
	background:#fff;
    color: black;
}


/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	max-width:1000px;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}