
body {
  background: #293c49;
  font-family: 'Agency FB', 'sans-serif'

}


/* Margenes de anchura y altura del div Login*/
.container {
  max-width:400px;
  min-width: 250px;
  margin: 16px auto;
  font-size: 16px;

}

.container{
  width: 100%;

}

/* Que todo este sin margen de separación entre el titulo
y el formulario */
.titulo,
.container p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Forma del triangulo hacia arriba*/
.container-triangulo {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #0b6bca;
}

/* para el tituto iniciar*/
.titulo {
  background: #0b6bca;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Agency FB', 'sans-serif';
  color: #fff;
}


/* fondo del contenedor y el margen de separacion de los input*/
.contenedor {
  background: #ebebeb;
  padding: 12px;
}

/* Separación entre elementos */
.container p {
  padding: 12px;
}


/*Se le da un diseño estetico a todos los inputs*/
.container input,.boton-Login {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-size: 1em;
}


/* Se edita el color, tipo de letra y fondo de inputs especificos*/
.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
  background: #ffffff;
  border-color: #747474;
  color: #000000; /*color de letra */
  font-family: 'Agency FB', 'sans-serif'

}

/* Esto le da color al input ingresar y hace que al 
momento de seleccionar el puntero cambie de forma*/
.container input[type="submit"] {
  background: #0b6bca;
  border-color: transparent;
  font-family: 'Agency FB', 'sans-serif';
  color: #ffffff; /* color de letra*/
  cursor: pointer;
}


/* Esto le da otro color al boton ingresar en el momento de presionar*/
.container input[type="submit"]:hover {
  background: #3f93ca;
}

#btn-login{
  background: #0b6bca;
  border-color: transparent;
  color: #ffffff; /* color de letra*/
  font-family: 'Agency FB', 'sans-serif';
  cursor: pointer;
}

.container-si-inicia-Registra {
  background: #ebebeb;
  padding: 12px;
}

.boton-Login {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 12px; /*espacio alrededor texto*/
  background-color: #0b6bca; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto, para quitar la linea de abajo*/
  text-transform: uppercase; /*texto en mayusculas*/
  text-align: center;
  font-family: 'Agency FB', 'sans-serif';  /*tipografía texto*/
  border-radius: 0px; /*bordes redondos*/
  }

  .boton-Login:hover {
    background: #3f93ca;
  }
  