/*Estilos de apariencia comunes que no tienen que ver con los ejemplos del post*/
* {
	margin: 0;
    padding:0;
    box-sizing: border-box;
}

@media only screen and (orientation:landscape){
  * {  
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}

body {
    background-color:/*#f1f2f3*/#293c49;

    font-size: 18px;
    font-family: 'Agency FB', 'sans-serif';}
h1 {
    margin-bottom:1rem;
    color:#ff9900;
    font-weight:600;
}

h2 {
    color:#0789c9;
    font-weight:400;
}

p   {margin-bottom:1rem;}

img {
    width:100%;
    margin:1em 0;
    cursor: pointer;

}

a {
    color:#00324b;
}

main {
    background-color:#fff;
    padding:3rem;
    margin:3rem auto;
    max-width:1500px;
    min-width: 250px;
    height: 80%;
    display:block;/*para IE*/
    margin-block-start: 0%;
}



#tabla{
    font-size: 18px;
}
table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 95%;
    margin-bottom:1rem;
}

th, td{
    padding: 2% 2%;
    border: solid #838b9e 4px;
}

thead{
    background-color: #0b6bca;
    border-bottom: solid 8px #0f362d00;
    color: white;
    text-align: center;
    

}
.scrolltblista {
	overflow-y:scroll;
	height:600px;
	width:100%;

}
.scrolltblista2 {
	overflow-y:scroll;
	max-height:600px;
  min-height: 340px;

	max-width:100%;
  min-width: none;

}



#btnc-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
} 
#btnc-modal{
	display: none;
}
.lblc-modal{
	border: 0px solid #2e518b; /*anchura, estilo y color borde*/
	padding: 10px; /*espacio alrededor texto*/
	background-color: #0b6bca; /*color botón*/
	text-decoration: none; /*decoración texto, para quitar la linea de abajo*/
	text-transform: uppercase; /*texto en mayusculas*/
	text-align: center;
	font-family: 'Agency FB', 'sans-serif';  /*tipografía texto*/
	color: #ffffff; /*color texto*/
	border-radius: 0px; /*bordes redondos*/
	cursor: pointer;
	margin-left: 35%;
}
.btnGuardar{
	border: 0px solid #2e518b; /*anchura, estilo y color borde*/
	padding: 10px; /*espacio alrededor texto*/
	background-color: #0b6bca; /*color botón*/
	text-decoration: none; /*decoración texto, para quitar la linea de abajo*/
	text-transform: uppercase; /*texto en mayusculas*/
	text-align: center;
	font-family: 'Agency FB', 'sans-serif';  /*tipografía texto*/
	color: #ffffff; /*color texto*/
	border-radius: 0px; /*bordes redondos*/
	cursor: pointer;
	margin-left: 0%;
	margin-top: 25%;
}

.dias label{
  font-size: 18px;
  padding-left: 5%;
}

.checboxdias label{
  padding-left: 3.5%;
}

.btn-play,.btn-editar,.detalles{
	float: left;
	margin-right: 20px;
  cursor: pointer;


}
.btn-play {
	width: 23px;
  cursor: pointer;
  }
  .width {
	width: 100%;
  }

  .videoMedidas{
    width: 150px;
    height: 200px;
  }
  #idvideo{
    width: 93%;
    height: 40%; 
    margin-left: 2%;

}
#columna2 {
    display: table-cell;
    width: 1200px;
    height: 700px;
}




.cols {
    display: flex;
  }
  
  .cols div {
    flex: 1;
  }
  
  .col1 {
    background-color: transparent
  }
  
  .col2 {
    background-color: transparent;
  }
  
  p {
    margin: 1em;
  }


  .custom-input-file {
    background-color: #0b6bca;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 150px;
    margin-top: 15px;
    border: #fff solid 1px;
    }
    
    .custom-input-file .input-file {
    border: 10000px solid transparent;
    cursor: pointer;
    font-size: 10000px;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: -1000px;
    top: -1000px;
     }
  